.base-login-layout {
  background-color: #FFFFFF;
  border-radius: 5%;
}

.form-size {
  margin: 100px;
  width: 550px;
  height: 580px;
}

.close-right-end {
  position: absolute;
  top: 10px;
  right: 10px;
}

.state-left {
  position: absolute;
  top: 20px;
  left: 10px;
  color: red;
}

