.form-size {
  margin: 100px;
  width: 550px;
  height: 530px;
  background-color: #FFFFFF;
  border-radius: 5%;
}

.signup-form-size {
  margin: 100px;
  min-width: 900px;
  height: 580px;
  background-color: #FFFFFF;
  border-radius: 5%;
}


