/* .base-login-layout {
  background-color: #FFFFFF;
  border-radius: 5%;
} */

.form-size {
  margin: 100px;
  width: 550px;
  height: 580px;
  background-color: #FFFFFF;
  border-radius: 5%;
}

.signup-form-size {
  margin: 100px;
  width: 1100px;
  height: 580;
  background-color: #FFFFFF;
  border-radius: 5%;
}

.close-right-end {
  position: absolute;
  top: 10px;
  right: 10px;
}

.state-left {
  position: absolute;
  top: 20px;
  left: 10px;
  color: red;
}

.auth-bgcolor {
  background-color: #D6E4E7;
  min-height: 100vh;
}

