.auth-main-first-circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.auth-main-secondary-circle {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  position: absolute;
}

.link-style {
  text-decoration: none;
  color: black;
}

.modal-style {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 400px;
  padding: 4px;
  background-color: white;
}

.find-layout {
  margin: auto;
  width: 70%;
}

.form-name {
  margin-top: 20px;
  margin-left: 3px;
}

.phoneinput-button {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}
